<header class="site-header">

  <div class="contenido">
   <img src="./assets/logosuas.png" class="logouas">
    <h1 class="universidad">Universidad Autónoma de Sinaloa</h1>
    <h2 class="facultad">Control de Reportes - Facultad de Ingeniería Mochis</h2>
    <h2 *ngIf="usuario.noCuenta!=0; else nologeado" style="margin-top: -10px;text-align: center; margin-left: 21%;  font-size: 20px; position: absolute;">{{usuario.noCuenta}}- {{usuario.nomUser}}</h2>
    <ng-template #nologeado>
      <h2></h2>
    </ng-template>
   <img src="./assets/LOGO_FIM1.png" class="logofim" >
  </div>


</header>
