.site-header {
  position: relative;
  background: rgb(29,112,184);
  background: linear-gradient(0deg, rgba(29,112,184,1) 0%, rgba(0,59,126,1) 100%);
  padding: 10px 0;
  color: #ffffff;
  width: 100%;
  height: 110px ;
}

.contenido{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.universidad {
  font-size: 24px;
  margin-bottom: 10px;
}

.facultad {
  font-size: 18px;
}
.logofim{
position: absolute;
right: 10px; /* Ajusta la posición horizontal según sea necesario */
transform: translateY(-50%);
width: 100px;
height: 100px;
margin-top: -50px;
background-image: #08338F ;
}
.logouas{
  margin-top: 25px;
  width: 180px;
  height: 100px;
position: absolute;
left: 10px; /* Ajusta la posición horizontal según sea necesario */
transform: translateY(-50%);
}
