<BUtton class="volver" type="submit" (click)="volver()"><</BUtton>
<div class="container">
  
  <label for="fecha-ini">De: </label>
  <input type="date" class="date-1" name="fecha-ini">
<label for="fecha-fin">A: </label>
  <input type="date" class="date-2" name="fecha-fin">

  <button class="filtrar" type="submit">Buscar</button>
</div>
<div class="table-wrapper">
    <table class="fl-table">
      <tr>
          <th scope="col" style="background:  #BA9D15 ;color: rgb(255, 255, 255); font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >ID</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">NOMBRE REPORTE</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">AUTOR</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">FECHA</th>
          <th scope="col" style="background: #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">TIPO DE REPORTE</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">ESTATUS</th>
          
      </tr>
      <tr >
        <td  style="color: rgb(0, 0, 0)" (click)="detalles()">0001</td>
        <td  style="color: rgb(0, 0, 0)">Aire descompuesto aula 15</td> 
        <td  style="color: rgb(0, 0, 0)">Dacia Melina Sepulveda Gamez</td>
        <td  style="color: rgb(0, 0, 0)"> 20/03/2024</td>
        <td  style="color: rgb(0, 0, 0)"> Infraestructura</td>
        <td  style="color: rgb(0, 0, 0)"> No atendido</td>
        
    
      </tr>
    </table>
  </div>

