<div class="table-wrapper">
    <table class="fl-table">
      <tr>
          <th scope="col" style="background: rgb(29,112,184);" >ID</th>
          <th scope="col" style="background: rgb(29,112,184);">NOMBRE REPORTE</th>
          <th scope="col" style="background: rgb(29,112,184);">AUTOR</th>
          <th scope="col" style="background: rgb(29,112,184);">TIPO DE REPORTE</th>
          <th scope="col" style="background: rgb(29,112,184);">ESTATUS</th>
          
      </tr>
      <tr >
        <td  style="color: black;"></td>
        <td  style="color: black;"></td> 
        <td  style="color: black;"> </td>
        <td  style="color: black;"> </td>
        
    
      </tr>
    </table>
  </div>
