<div class="table-wrapper">
    <table class="fl-table">
      <tr>
          <th scope="col" style="background:  #BA9D15 ;color: rgb(255, 255, 255); font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >ID</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">MATRICULA</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">NOMBRE</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">EMAIL</th>
          <th scope="col" style="background: #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">CARGO</th>
          <th scope="col" style="background:  #BA9D15;color: rgb(255, 255, 255); font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">TIPO DE USUARIO</th>
          
      </tr>
      <tr >
        <td  style="color: rgb(0, 0, 0)" (click)="cambiarTipo()" >0001</td>
        <td  style="color: rgb(0, 0, 0)">20103859</td> 
        <td  style="color: rgb(0, 0, 0)">Dacia Melina Sepulveda Gamez</td>
        <td  style="color: rgb(0, 0, 0)"> daciamelinagmail.com</td>
        <td  style="color: rgb(0, 0, 0)"> Coordinacion</td>
        <td  style="color: rgb(0, 0, 0)"> Normal</td>
        
    
      </tr>
    </table>
  </div>

