<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th scope="col" style="background: rgb(29,112,184); font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;" >ID</th>
        <th scope="col" style="background: rgb(29,112,184);font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;">NOMBRE REPORTE</th>
        <th scope="col" style="background: rgb(29,112,184);font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;">AUTOR</th>
        <th scope="col" style="background: rgb(29,112,184);font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;">FECHA</th>
        <th scope="col" style="background: rgb(29,112,184);font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;">TIPO DE REPORTE</th>
        <th scope="col" style="background: rgb(29,112,184);font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;">ESTATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of reportes | keyvalue" (click)="verEstatus(reporte.value['ID_report'])">
        <td style="color: black;">{{ reporte.value['ID_report']}}</td>
        <td style="color: black;">{{ reporte.value['nomReport'] }}</td>
        <td style="color: black;">{{ reporte.value['autor'].nomUser }}</td>
        <td style="color: black;">{{ reporte.value['fecha_report'] }}</td>
        <td style="color: black;">{{ reporte.value['tipo_report'] }}</td>
        <td style="color: black;">{{ reporte.value['estatus'] }}</td>
      </tr>
    </tbody>
  </table>
</div>
